<nav class="navbar navbar-expand navbar-light">
  <div class="container-fluid">
    <div
      class="collapse navbar-collapse flex-wrap justify-content-end align-items-center justify-content-md-center"
    >
      <form class="d-flex mt-1">
        <input
          class="form-control app-searcher"
          type="search"
          placeholder="Search"
          aria-label="Search"
        />
        <button class="btn btn-outline-secondary">Search</button>
      </form>
      <button
        class="btn btn-outline-info newMedicineButton mt-1"
        [routerLink]="['/admin/ingredient/create']"
      >
        New
      </button>
    </div>
  </div>
</nav>
